<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tugas PKMPL Tioooooo To-Do</title>
</head>
<body>

<center>

    <h4>Nama Tio Fani, dah gitu aja</h4>
	
    
    <h1>My To-Do List</h1>
    <h4 id="comment">{{ theComment }}</h4>
    <form method="POST">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        {% for item in items %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
	</center>
</body>
</html>
